#tc 
{
     z-index:9;
    position:absolute;
height: 285px;
width: 260px;
background-image:url(images/msglft_bg.jpg);
}

body {
 height: 285px;
 width: 260px;
 margin:0px;
 padding:0px;
}
.font-1 {
 font-family: "宋体";
 font-size: 12px;
 color: #330000;
}

a:link {
 color: #CC0000;
 text-decoration: none;
}
a:visited {
 text-decoration: none;
 color: #990000;
}
a:hover {
 text-decoration: underline;
 color: #FF3333;
}
a:active {
 text-decoration: none;
}
#tc ul{
 margin: 0px;
 padding: 0px;
 text-indent: 10px;
 list-style:none;
}
#tc-1 {
 height: 25px;
 text-align: left;
 padding-left:5px;
 line-height: 25px;
 padding-top:5px;
 font-weight:bold;
 font-size:13px;
}

#tc-2 {
 font-size:small;
 position:fixed;
}

.msgLeft_Txtbox_div
{
    width:240px;
    height:100px;
    _height:90px;
    left:2px;
    position:relative;
}

#msgLeft_Txtbox
{
    overflow:hidden;
    height:72px;
    width:200px;
    border:0;
	margin-top:19px;
	margin-left:26px;
	font-size:14px;
}
#yzm
{
width:88px;
}

#tc-2 input
{
    width:150px;
    height:18px;
    margin-left:82px;
    margin-top:2px;	
    margin-bottom:10px;
    display:block;
	border:0;;
	
}


#msgLeft_Btn_div
{
    width:200px;
    color:#1B82CF;
    font-size:12px;
    text-align:left;
}

#msgLeft_Btn
{
	cursor:hand;
	padding-left:5px;
	padding-top:5px;
	margin-top:0px;
	margin-left:24px;
	
}

#tc li{ line-height:22px;} 




#hide
{
    background-color: #000000; 
    position:absolute;
    z-index:1;
    height: 285px;
    width: 260px;
    filter:alpha(opacity=50);
    -moz-opacity:0.5; 
}

#run
{
    color:White;
    font-size:12px;
    height: 10px;
    width: 205px;
    position:absolute;
    margin:100px 0px;
    text-align:center;
}

#num01
{
 margin-top:-20px!important; margin-left:80px   
    }