<div id="container" class="clearfix">
	<div class="left">
		<div class="box sort_menu">
		  <h3>产品分类</h3>
        <ul class="sort">
         {% for product in products_categories.items %}
         {% if cur_city %}
           <li><a href="/supply_{{cur_city}}/{{product.0.dir_name|cut:"/"}}/">{{product.0.name}}</a></li>
         {% else %}
           <li><a href="/supply/{{product.0.dir_name|cut:"/"}}/">{{product.0.name}}</a></li>
         {% endif %}
         <ul>
          {% for sp in product.1 %}
          <li><a href="/supply_{{cur_city}}/{{sp.dir_name|cut:"/"}}/">--->{{sp.name}}</a></li>
          {% endfor %}
         </ul>
         {% endfor %}
        </ul>
		</div>

  {% include "contract.html" %}
</div>
