
<div class="content">
  <div class="container1">
    <div class="pro_b">
      {% for product in products %}
      <div>
        <h2><a href="/supply_{{cur_city}}/{{product.id}}.html"><img src="/{{product.pic}}" title="{{product.title}}" alt="{{product.category}}" height="150" width="150"></a></h2>
        <h3><a href="/supply_{{cur_city}}/{{product.id}}.html">{{product.title}}</a></h3>
      </div>
      {% endfor %}
      <h6 class="clear"></h6>
    </div>

    {% if products %}
    <div class="pages">
      <ul>
        {% if cur_cate %}
          <li class="previous_s"><a href="/supply_{{cur_city}}/{{cur_cate.dir_name|cut:"/"}}/Products_{{products_page_info.pre_page}}.html">上一页<a></li>
        {% else %}
          <li class="previous_s"><a href="/supply_{{cur_city}}/Products_{{products_page_info.pre_page}}.html">上一页<a></li>
        {% endif %}
          <li class="pages_solid">第{{products_page_info.page}}页</li>
        {% if cur_cate %}
          <li class="next"><a href="/supply_{{cur_city}}/{{cur_cate.dir_name|cut:"/"}}/Products_{{products_page_info.next_page}}.html">下一页</a></li>
        {% else %}
          <li class="next"><a href="/supply_{{cur_city}}/Products_{{products_page_info.next_page}}.html">下一页</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
