{% extends "base.html" %}
{% block title %}{{site.title}}{% endblock %}
{% block body %}
<!-- 首页banner -->
{% include "header.html" %}

{% load extra_products %}
{% get_root_cate %}

<div class="right">
  <div class="sitemp clearfix">
    {% if cur_cate %}
      <h2>{{cur_cate.name}}</h2>
      <div class="site"><a href="/">首页</a> &gt; <a href="/supply/">产品中心</a> &gt; <a href="/supply/Products_{{cur_cate.dir_name}}/">{{cur_cate.name}}</a></div>
    {% else %}
      <h2>案例展示</h2>
      <div class="site"><a href="/">首页</a> &gt; <a href="/supply/">产品中心</a></div>
    {% endif %}
   </div>
   {% get_products_by_tag %}
	</div>
</div>
{% include "show_ads.html" %}
<div id="footer_a">
{% include "footer.html" %}
  </div>
{% endblock %}