<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>中央净水器系列-沈阳洁明水处理设备有限公司</title> 
  <meta name="keywords" content="中央净水器系列" /> 
  <meta name="description" content="为你详细介绍中央净水器系列的产品内容,包括中央净水器系列的用途、型号、范围、图片等,在这里你可以得知所有中央净水器系列的新闻以及最新的市场中央净水器系列价格。" /> 
  <link rel="shortcut icon" type="image/x-icon" href="http://www.syjieming.com/ico/favicon.ico?539359409" /> 
  <link rel="stylesheet" type="text/css" href="http://www.syjieming.com/template/default/style/base.css" /> 
  <link rel="stylesheet" type="text/css" href="http://www.syjieming.com/template/default/style/model.css" /> 
  <link rel="stylesheet" type="text/css" href="http://www.syjieming.com/template/default/style/main.css" /> 
  <script src="http://www.syjieming.com/template/default/js/jquery-1.8.3.min.js"></script> 
  <script src="http://www.syjieming.com/template/default/js/mobile.js"></script> 
  <script>
var url = 'http://www.syjieming.com/';
var cid = '';
var pathname = location.pathname;
var urlArray = pathname.split("/");
var name = '';
if((url.match(urlArray[1]))){
	for(i=2;i<urlArray.length;i++){
		name= name+"/"+urlArray[i];
	}
	name = url+"m"+name;
}else{
	name = url+"m"+pathname;
}
if(cid == 1)
{
	name = name.replace("/about/","/about_about/");
}
uaredirect(name);
</script> 
 </head> 
 <body> 
  <!-- 公共头部包含 --> 
  <div class="hh"> 
   <div id="header"> 
    <div class="hh1">
     您好，欢迎您光临沈阳洁明水处理设备有限公司！
    </div> 
    <div class="k1"> 
     <a href="http://www.syjieming.com/region/">企业分站</a> | 
     <a href="http://www.syjieming.com/sitemap/">网站地图</a> | 
     <a href="http://www.syjieming.com/rss.xml">RSS</a> | 
     <a href="http://www.syjieming.com/sitemap.xml">XML</a> 
    </div> 
    <div class="clearboth"></div> 
    <div class="top clearfix"> 
     <div class="logo"> 
      <a href="http://www.syjieming.com/" class="logo"><img alt="沈阳水处理设备" src="http://www.syjieming.com/data/images/other/20170323163533_136.jpg" /></a> 
     </div> 
     <div class="topLink"> 
      <div class="k2"> 
       <p><img src="/data/upload/image/20170505/1493967251461158.jpg" title="沈阳洁明水处理设备有限公司" alt="沈阳洁明水处理设备有限公司" width="192" height="65" border="0" vspace="0" style="width: 192px; height: 65px;" /></p> 
      </div> 
     </div> 
    </div> 
    <!-- 导航栏包含 --> 
    <div id="menu"> 
     <ul class="nav clearfix"> 
      <li><a href="http://www.syjieming.com/">网站首页</a></li> 
      <li><a href="http://www.syjieming.com/about/">关于我们</a> 
       <div class="sec"> 
        <a href="http://www.syjieming.com/about/company.html">公司简介</a> 
        <a href="http://www.syjieming.com/about/contact.html">联系我们</a> 
       </div> </li> 
      <li><a href="http://www.syjieming.com/product/">产品中心</a> 
       <div class="sec"> 
        <a href="http://www.syjieming.com/product/cpfl100/">水处理设备</a> 
        <a href="http://www.syjieming.com/product/yjflzxe85/">润莱民用净(软)水产品</a> 
        <a href="http://www.syjieming.com/product/cyxsydsb5be/">水处理多功能控制阀系列产品</a> 
        <a href="http://www.syjieming.com/product/sclyyb64/">水处理应用</a> 
       </div> </li> 
      <li><a href="http://www.syjieming.com/news/">新闻中心</a> 
       <div class="sec"> 
        <a href="http://www.syjieming.com/news/company/">公司新闻</a> 
        <a href="http://www.syjieming.com/news/xydt/">行业新闻</a> 
        <a href="http://www.syjieming.com/news/cjwtde0/">常见问题</a> 
       </div> </li> 
      <li><a href="http://www.syjieming.com/case/">洁明案例</a> 
       <div class="sec"> 
        <a href="http://www.syjieming.com/case/yjal/" target="">软化水设备案例</a> 
        <a href="http://www.syjieming.com/case/sclal00c/" target="">除铁锰设备案例</a> 
        <a href="http://www.syjieming.com/case/cjssbal206/" target="">纯净水设备案例</a> 
       </div> </li> 
      <li><a href="http://www.syjieming.com/about_sales/">销售网络</a> 
       <div class="sec"> 
        <a href="http://www.syjieming.com/about_sales/zsjme40.html">销售网络</a> 
       </div> </li> 
      <li><a href="http://www.syjieming.com/message/" rel="nofollow">在线留言</a></li> 
      <li class="lxff"><a href="http://www.syjieming.com/about/contact.html">联系我们</a></li> 
     </ul> 
    </div> 
    <script type="text/javascript">

$(function(){
	$('.nav > li').hover(function(){
		var sec_count  = $(this).find('.sec a').length;
		var a_height   = $(this).find('.sec a').eq(0).height();
		var sec_height =  sec_count * a_height;
		$(this).find('.sec').stop().animate({height:sec_height},300);
	},function(){
		$(this).find('.sec').stop().animate({height:0},300);
	});
});


</script> 
    <div class="clearboth"></div> 
   </div> 
  </div>  
  <!-- 内页banner --> 
  <div class="n_banner">
   <img src="http://www.syjieming.com/data/images/banner/20170808084538_443.jpg" alt="水处理设备" title="水处理设备" />
  </div> 
  <!-- 主体部分 --> 
  <div id="container" class="clearfix"> 
   <div class="left"> 
    <div class="box sort_menu"> 
     <h3>产品分类</h3> 
     <ul class="sort"> 
      <li class="layer1"> <a href="http://www.syjieming.com/product/cpfl100/" class="list_item">水处理设备</a> 
       <div class="layer2" style="display:none;"> 
        <ul> 
         <li> <a href="http://www.syjieming.com/product/cjssb99d/" class="list_item">纯净水设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/tzsclsb0a7/" class="list_item">特质水处理设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/qzdrsq71e/" class="list_item">全自动软水器</a> </li> 
         <li> <a href="http://www.syjieming.com/product/ycxhssb53c/" class="list_item">泳池循环水设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/xcsxhjhq02c/" class="list_item">洗车水循环净化器</a> </li> 
         <li> <a href="http://www.syjieming.com/product/ccssb001/" class="list_item">超纯水设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/xdmjsb30d/" class="list_item">消毒灭菌设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/cysclsbf71/" class="list_item">除氧水处理设备</a> </li> 
         <li> <a href="http://www.syjieming.com/product/sclzyglq35e/" class="list_item">水处理专用过滤器</a> </li> 
         <li> <a href="http://www.syjieming.com/product/qzdglq3b0/" class="list_item">全自动过滤器</a> 
          <div class="layer3"> 
           <ul> 
            <li> <a href="http://www.syjieming.com/product/psglq443/" class="list_item">盘式过滤器</a> </li> 
           </ul> 
          </div> </li> 
         <li> <a href="http://www.syjieming.com/product/sclzylla02/" class="list_item">水处理专用滤料</a> </li> 
         <li> <a href="http://www.syjieming.com/product/sclpj82e/" class="list_item">水处理配件</a> </li> 
        </ul> 
       </div> </li> 
      <li class="layer1"> <a href="http://www.syjieming.com/product/yjflzxe85/" class="list_item">润莱民用净(软)水产品</a> 
       <div class="layer2" style="display:none;"> 
        <ul> 
         <li> <a href="http://www.syjieming.com/product/jnx500Lxlede/" class="list_item">家用软水机、沐浴软水</a> 
          <div class="layer3"> 
           <ul> 
            <li> <a href="http://www.syjieming.com/product/Axlsdzdjjx070/" class="list_item">【A系列】手动/自动</a> </li> 
            <li> <a href="http://www.syjieming.com/product/Cxlqzdrsx650/" class="list_item">【C系列】全自动柔顺</a> </li> 
            <li> <a href="http://www.syjieming.com/product/Dxlqzdssx764/" class="list_item">【D系列】全自动舒适</a> </li> 
            <li> <a href="http://www.syjieming.com/product/Exlqzdhhx140/" class="list_item">【E系列】全自动豪华</a> </li> 
            <li> <a href="http://www.syjieming.com/product/Jxlqzdzhx807/" class="list_item">【J系列】全自动智慧</a> </li> 
           </ul> 
          </div> </li> 
         <li> <a href="http://www.syjieming.com/product/zyjsqxla35/" class="list_item">中央净水器系列</a> </li> 
         <li> <a href="http://www.syjieming.com/product/yrsj89e/" class="list_item">RO反渗透纯水机</a> </li> 
        </ul> 
       </div> </li> 
      <li class="layer1"> <a href="http://www.syjieming.com/product/cyxsydsb5be/" class="list_item">水处理多功能控制阀系列产品</a> 
       <div class="layer2" style="display:none;"> 
        <ul> 
         <li> <a href="http://www.syjieming.com/product/cfykzf133/" class="list_item">除氟用控制阀</a> </li> 
         <li> <a href="http://www.syjieming.com/product/cyykzf10e/" class="list_item">除氧用控制阀</a> </li> 
         <li> <a href="http://www.syjieming.com/product/dpsglqc95/" class="list_item">叠片式过滤器</a> </li> 
         <li> <a href="http://www.syjieming.com/product/fdcykzf104/" class="list_item">浮动床控制阀</a> </li> 
         <li> <a href="http://www.syjieming.com/product/hcykzf0bf/" class="list_item">混床控制阀及整机</a> </li> 
         <li> <a href="http://www.syjieming.com/product/jyDxlkzf2a0/" class="list_item">家用D系列控制阀</a> </li> 
         <li> <a href="http://www.syjieming.com/product/tcxqfbdd/" class="list_item">陶瓷芯球阀</a> 
          <div class="layer3"> 
           <ul> 
            <li> <a href="http://www.syjieming.com/product/ddslqf47f/" class="list_item">电动塑料球阀</a> </li> 
            <li> <a href="http://www.syjieming.com/product/stqf283/" class="list_item">三通球阀</a> </li> 
            <li> <a href="http://www.syjieming.com/product/ddbxgqf2b4/" class="list_item">电动不锈钢球阀</a> </li> 
            <li> <a href="http://www.syjieming.com/product/sdbxgqf5f7/" class="list_item">手动不锈钢球阀</a> </li> 
            <li> <a href="http://www.syjieming.com/product/sdslqf054/" class="list_item">手动塑料球阀</a> </li> 
            <li> <a href="http://www.syjieming.com/product/tskzqffdf/" class="list_item">特殊控制球阀</a> </li> 
           </ul> 
          </div> </li> 
         <li> <a href="http://www.syjieming.com/product/zxydjcq5e4/" class="list_item">在线出水硬度检测装置</a> </li> 
         <li> <a href="http://www.syjieming.com/product/rhxkzfc33/" class="list_item">软化型控制阀</a> </li> 
         <li> <a href="http://www.syjieming.com/product/glxkzf3a9/" class="list_item">过滤型控制阀</a> </li> 
        </ul> 
       </div> </li> 
      <li class="layer1"> <a href="http://www.syjieming.com/product/sclyyb64/" class="list_item">水处理应用</a> 
       <div class="layer2" style="display:none;"> 
        <ul> 
        </ul> 
       </div> </li> 
     </ul> 
     <script type="text/javascript">
$(".layer1").hover
(
	function()
	{   
		if($(this).find(".layer2 li").length > 0)
		{
			$(this).find(".layer2").stop().show();

		}
		$(this).addClass("change");
	},
	function()
	{
		$(this).find(".layer2").stop().hide();
		$(this).removeClass("change");
	}
);
</script> 
    </div> 
    <div class="box n_news"> 
     <h3>最新新闻</h3> 
     <div class="content"> 
      <ul class="news_list new1"> 
       <li><a href="http://www.syjieming.com/news/321.html" title="锰含量过高对工业设备具有一定的腐蚀性">锰含量过高对工业设备具有一...</a></li> 
       <li><a href="http://www.syjieming.com/news/319.html" title="软化水设备管道出水口应安装取样阀">软化水设备管道出水口应安装...</a></li> 
       <li><a href="http://www.syjieming.com/news/317.html" title="水处理无阀滤池的虹吸管及其液位计均应严密不漏">水处理无阀滤池的虹吸管及其...</a></li> 
       <li><a href="http://www.syjieming.com/news/314.html" title="沈阳水处理设备纯化水水质的基本标准">沈阳水处理设备纯化水水质的...</a></li> 
       <li><a href="http://www.syjieming.com/news/312.html" title="沈阳除铁锰设备滤料采用精制石英砂">沈阳除铁锰设备滤料采用精制...</a></li> 
       <li><a href="http://www.syjieming.com/news/310.html" title="沈阳软化水设备原水水质应符合水处理要求">沈阳软化水设备原水水质应符...</a></li> 
      </ul> 
     </div> 
    </div> 
    <div class="box n_news"> 
     <h3>热门关键词</h3> 
     <div class="content"> 
      <ul class="news_list words"> 
       <li><a href="http://www.syjieming.com/search.php?wd=叠片式过滤器" title="叠片式过滤器">叠片式过滤器</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=洗车水循环净化设备" title="洗车水循环净化设备">洗车水循环净化设备</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=手动型软化阀" title="手动型软化阀">手动型软化阀</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=超纯水设备" title="超纯水设备">超纯水设备</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=家用净水器" title="家用净水器">家用净水器</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=解析除氧器" title="解析除氧器">解析除氧器</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=除铁锰滤料" title="除铁锰滤料">除铁锰滤料</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=特质水处理设备" title="特质水处理设备">特质水处理设备</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=家用D系列控制阀" title="家用D系列控制阀">家用D系列控制阀</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=陶瓷芯球阀" title="陶瓷芯球阀">陶瓷芯球阀</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=除氟用控制阀" title="除氟用控制阀">除氟用控制阀</a></li> 
       <li><a href="http://www.syjieming.com/search.php?wd=润新控制阀" title="润新控制阀">润新控制阀</a></li> 
      </ul> 
     </div> 
     <script type="text/javascript">
			  $(function(){
			  	$(".words li:odd").addClass("right_word");
			  });
			</script> 
    </div> 
    <div class="box n_contact"> 
     <h3>联系我们</h3> 
     <p class="content"></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;"><strong>沈阳洁明水处理设备有限公司</strong></span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; line-height: 18px; white-space: normal; background-color: rgb(255, 255, 255);"><br /></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">联系人：刘经理</span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">电话：024-31076636</span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">传真：86-024-31076366</span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">电子邮件：1477561223@qq.com</span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">邮政编码：110034</span></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><font face="微软雅黑, Microsoft YaHei">网址：www.syjieming.com</font></p>
     <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; color: rgb(102, 102, 102); font-family: arial, 微软雅黑, sans-serif; font-size: 12px; white-space: normal; line-height: 2em; background-color: rgb(255, 255, 255);"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 12px;">地址：辽宁省沈阳市沈阳市于洪区赤山路55-2号</span></p>
     <span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"><br /></span>
     <p><br /></p>
     <p></p> 
    </div> 
   </div> 
   <div class="right"> 
    <div class="sitemp clearfix"> 
     <h2> 中央净水器系列 </h2> 
     <div class="site">
      您的当前位置： 
      <a href="http://www.syjieming.com/">首 页</a> &gt;&gt; 
      <a href="http://www.syjieming.com/product/">产品中心</a> &gt;&gt; 
      <a href="http://www.syjieming.com/product/zyjsqxla35/">中央净水器系列</a> 
     </div> 
    </div> 
    <div class="content"> 
     <div class="prodescription">
      沈阳洁明全体员工秉承着“当客户有需要的时候首先想起我们”的企业愿景和“精益求精，回报社会”的经营理念，从水质检验、项目可行性研究到方案设计、设备制造、工程安装、运行调试及售后服务的每一个环节，为用户提供值得信赖的工程设备和技术支持，提供最优质、可靠的解决方案。
     </div> 
     <ul class="product_list clearfix"> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/301.html"></a>
       </div> <a href="http://www.syjieming.com/product/301.html" title="中央净水器RL-J150JK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316144319_279.jpg" alt="中央净水器RL-J150JK" /></a> <h3><a href="http://www.syjieming.com/product/301.html" title="中央净水器RL-J150JK">中央净水器RL-J150JK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/300.html"></a>
       </div> <a href="http://www.syjieming.com/product/300.html" title="中央净水器RL-J150SK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316143938_595.jpg" alt="中央净水器RL-J150SK" /></a> <h3><a href="http://www.syjieming.com/product/300.html" title="中央净水器RL-J150SK">中央净水器RL-J150SK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/299.html"></a>
       </div> <a href="http://www.syjieming.com/product/299.html" title="中央净水器RL-J120/JK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316143627_975.jpg" alt="中央净水器RL-J120/JK" /></a> <h3><a href="http://www.syjieming.com/product/299.html" title="中央净水器RL-J120/JK">中央净水器RL-J120/JK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/298.html"></a>
       </div> <a href="http://www.syjieming.com/product/298.html" title="中央净水器RL-J120/SK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316141040_538.jpg" alt="中央净水器RL-J120/SK" /></a> <h3><a href="http://www.syjieming.com/product/298.html" title="中央净水器RL-J120/SK">中央净水器RL-J120/SK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/297.html"></a>
       </div> <a href="http://www.syjieming.com/product/297.html" title="中央净水器RL-J120/DR" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316140417_454.jpg" alt="中央净水器RL-J120/DR" /></a> <h3><a href="http://www.syjieming.com/product/297.html" title="中央净水器RL-J120/DR">中央净水器RL-J120/DR</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/296.html"></a>
       </div> <a href="http://www.syjieming.com/product/296.html" title="中央净水器RL-J60/JK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316133658_931.jpg" alt="中央净水器RL-J60/JK" /></a> <h3><a href="http://www.syjieming.com/product/296.html" title="中央净水器RL-J60/JK">中央净水器RL-J60/JK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/295.html"></a>
       </div> <a href="http://www.syjieming.com/product/295.html" title="中央净水器RL-J60/SK" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316132734_934.jpg" alt="中央净水器RL-J60/SK" /></a> <h3><a href="http://www.syjieming.com/product/295.html" title="中央净水器RL-J60/SK">中央净水器RL-J60/SK</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/294.html"></a>
       </div> <a href="http://www.syjieming.com/product/294.html" title="中央净水器RL-J60/DR" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316131639_726.jpg" alt="中央净水器RL-J60/DR" /></a> <h3><a href="http://www.syjieming.com/product/294.html" title="中央净水器RL-J60/DR">中央净水器RL-J60/DR</a></h3> </li> 
      <li> 
       <div class="bg1">
        <a href="http://www.syjieming.com/product/293.html"></a>
       </div> <a href="http://www.syjieming.com/product/293.html" title="自动反冲洗叠片式前置过滤器" class="img"><img src="http://www.syjieming.com/data/images/product/thumb_20170316111036_295.jpg" alt="自动反冲洗叠片式前置过滤器" /></a> <h3><a href="http://www.syjieming.com/product/293.html" title="自动反冲洗叠片式前置过滤器">自动反冲洗叠片式前置</a></h3> </li> 
     </ul> 
     <script>
$(function(){
$('.product_list li').hover(function(){
$(this).find('.bg1').stop().slideDown(400);
},function(){
$(this).find('.bg1').stop().slideUp(400);
})
})
</script> 
    </div> 
   </div> 
  </div> 
  <div class="clearboth"></div> 
  {% include "footer.html" %}
  <!--底部JS加载区域--> 

 </body>
</html>