{% extends "base.html" %}
{% block title %}{{site.name}}{% endblock %}
{% block body %}
<!-- 首页banner -->
{% include "header.html" %}
<div id="container" class="clearfix">
	<div class="left">
		<div class="box sort_menu">
		  <h3> 案例分类</h3>
        <ul class="sort">
         {% for product in products_categories %}
             <li><a href="/supply/{{product.dir_name}}/">{{product.name}}</a></li>
         {% endfor %}
        </ul>
		</div>

  {% include "contract.html" %}
</div>

<div class="right">
  <div class="sitemp clearfix">
    {% if cur_cate %}
      <h2>{{cur_cate.name}}</h2>
      <div class="site"><a href="/">首页</a> &gt; <a href="/supply/">产品中心</a> &gt; <a href="/supply/{{cur_cate.dir_name}}/">{{cur_cate.name}}</a></div>
    {% else %}
      <h2>案例展示</h2>
      <div class="site"><a href="/">首页</a> &gt; <a href="/supply/">产品中心</a></div>
    {% endif %}
   </div>
<div class="content">
  <div class="container1">
    <div class="content1">
      <h3>{{products.title}}</h3>
      <div class="container2" id="zoom">
        {{ products.content | safe }}
      </div>
    </div>
	</div>
  </div>
  {% if prev_prod %}
  <div>
    <p><a href="/supply/{{prev_prod.id}}.html">上一页：{{ prev_prod.title }}</a></p>
  </div>
  {% endif %}

  {% if next_prod %}
  <div>
    <p><a href="/supply/{{next_prod.id}}.html">下一页：{{ next_prod.title }}</a></p>
  </div>
  {% endif %}

 </div>
	</div>
</div>
<div id="footer_a">
{% include "footer.html" %}
  </div>
{% endblock %}
