<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- title和keywords -->
    <title>{{ site.title }}</title>
    <meta name="Keywords" content="{{ site.keywords }}">
    <meta name="Description" content="{{ site.desc }}">

    <!-- 通用meta配置 -->
    <meta http-equiv="mobile-agent" content="format=xhtml; url={{ site.wap_site }}">
    <meta http-equiv="mobile-agent" content="format=html5; url={{ site.wap_site }}">

    <!-- 通用css -->
    <link rel="stylesheet" type="text/css" href="/static/css/index-two.css">

    <!-- 通用js -->
    <script src="/static/js/jquery.min.js"></script>
  </head>

  <body>
    <!--首页header-->
    {% include "header.html" %}

    <!--首页main-->
    <!-- main begin -->
    <div class="fm-index-main">
      <!--新闻列表-->
    <div class="in-news">
      <div class="news-list" style="" id="n0">
        <ul id="masonry0" class="masonry" style="position: relative; height: {{total_height}}px">
          {% for cur_news in articles %}
          <li class="masonry-brick" style="left: 0px; overflow: hidden">
          <div class="pad">
            <div class="n-pic fl">
              <a href="/{{cur_news.category.dir_name}}{{cur_news.plural}}" title="{{cur_news.title}}"><img src="{{cur_news.pic}}" alt="{{cur_news.title}}"></a>
            </div>
            <div class="n-text fl">
              <h4><a href="{{cur_news.category.dir_name}}{{cur_news.plural}}" title="{{cur_news.title}}">{{cur_news.title}}</a></h4>
              <div class="n-des">{{cur_news.brief|safe}}</div>
              <div class="clear"></div>
              <div class="n-keytime">
                <div class="time fr">{{cur_news.created_on|date:"Y-m-d"}}</div>
                <div class="clear"></div>
              </div>
            </div>
          </div></li>

          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="clear" id="cl"></div>
      <!--右侧topic-->
      {% include "in-side.html" %}
  </div>
    {% include "footer.html" %}

  </body>
</html>


<script>
var page = 1;

$(window).bind("scroll", function(event){
  var thisButtomTop = parseInt($(window).height()) + parseInt($(window).scrollTop());
  var thisTop = parseInt($(window).scrollTop());
  var PictureTop = parseInt($("#sss").offset().top); // 底部的一个ID
  if (PictureTop >= thisTop && PictureTop <= thisButtomTop) {
    $.ajax()
  debugger
}})
</script>
