<div class="in-news">
  <div class="news-list" style="" id="n0">
    <ul id="masonry0" class="masonry" style="position: relative; height: {{total_height}}">
      {% for cur_news in news %}
      <li class="masonry-brick" style="position: absolute; top: {{cur_news.height}}px; left: 0px;">
      <div class="pad">
        <div class="n-pic fl">
          <a href="/{{cur_news.category.dir_name}}{{cur_news.plural}}" title="{{cur_news.title}}"><img src="{{cur_news.pic}}" alt="{{cur_news.title}}"></a>
        </div>
        <div class="n-text fl">
          <h4><a href="{{cur_news.category.dir_name}}{{cur_news.plural}}" title="{{cur_news.title}}">{{cur_news.title}}</a></h4>
          <div class="n-des">{{cur_news.brief|safe}}</div>
          <div class="clear"></div>
          <div class="n-keytime">
            <div class="time fr">{{cur_news.created_on|date:"Y-m-d"}}</div>
            <div class="clear"></div>
          </div>
        </div>
      </div></li>

      {% endfor %}
    </ul>
    <div class="news-more" id="npage0"><a href="javascript:void(0)" onclick="return false">加载更多...</a></div>
    <div class="pages"><a href="/news/" class="a1">+ 点击查看更多精彩</a></div>
  </div>
</div>