{% extends "base.html" %}
{% block title %}{{site.name}}{% endblock %}
{% block body %}
<!-- 首页banner -->
{% include "header.html" %}

<div id="container" class="clearfix">
  <div class="left">
    <div class="box sort_menu">
      <h3> 精彩展示</h3>
      <ul class="sort">
        {% for b in a %}
        <li> <a href="{{b.dir_name}}">{{b.name}}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% include "contract.html" %}
  </div>
  <div class="right">
    <div class="sitemp clearfix">
      <h2>详细信息</h2>
      <div class="site">
        <a href="/">首页</a> &gt; <a href="/about/">走进我们</a></div>
      </div>
      <div class="content">
        <div class="container1">
          <div class="content1">
            <h3>走进我们</h3>
	    <div class="container2" id="zoom">
        {{ site.intro|safe }}
            </div>
	  </div>
	</div>
       </div>
     </div>
   </div>
  <div id="footer_a">
  {% include "footer.html" %}
  </div>
  </body>
</html>
