<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>走进我们 - {{ site.name }}</title>
<meta name="Keywords" content=""{{ site.keywords }}">
<meta name="Description" content="{{ site.desc }}">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/css/model.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<script src="/static/js/jquery-1.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/mobile.js"></script>
</head>
<body>
<!-- 首页banner -->
{% include "header.html" %}

<div id="container" class="clearfix">
  <div class="left">
    <div class="box sort_menu">
      <h3> 精彩展示</h3>
      <ul class="sort">
        <li> <a href="/about/">走进我们</a></li>
        <li> <a href="/about/about9.html">联系我们</a></li>
        <li> <a href="/about/about10.html">产品介绍</a></li>
      </ul>
    </div>
    <div class="box n_contact">
      <h3>联系我们</h3>
      <p>联系:{{ ci.username }}</p>
      <p>手机:{{ ci.mobile }}</p>
      <p>电话:{{ ci.telephone }}</p>
      <p>传真:{{ ci.fax }}</p>
      <p>邮箱:<a href="mailto:{{ ci.email }}">{{ ci.email }}</a></p>
      <p>网址:{{site.url}}</p>
      <p>地址:{{ci.address}}</p>
    </div>
  </div>
  <div class="right">
    <div class="sitemp clearfix">
      <h2>详细信息</h2>
      <div class="site">
        <a href="/">首页</a> &gt; <a href="/about/">走进我们</a></div>
      </div>
      <div class="content">
        <div class="container1">
          <div class="content1">
            <h3>走进我们</h3>
	    <div class="container2" id="zoom">
        {{ site.intro }}
            </div>
	  </div>
	</div>
       </div>
     </div>
   </div>
  <div id="footer_a">
  {% include "footer.html" %}
  </div>
  </body>
</html>
