{% if products %}
  {% for ad in products %}
 <dd>
   	
        <div class="img">


        <a href="/supply_{{cur_city}}/{{ad.id}}.html" title="{{ad.title}}">


        <img src="/{{ad.pic}}" title="{{ad.title}}" alt="{{ad.category}}" /></a></div>


            <div class="txt"> <a href="/supply_{{cur_city}}/{{ad.id}}.html" title="{{ad.title}}"> {{ad.title}}</a></div>

   </dd>
  {% endfor %}
{% else %}

  <div class="zklist-C">
        <ul>
            {% for ad in news %}
             <li><a href="/news/{{ad.id}}.html" title="{{ad.title}}">{{ad.title}}</a> </li>
     {% endfor %}
  </ul>
  </div>

 
{% endif %}






       

      
