<div id="footer">
  <ul class="navv clearfix">
    <li>
      <a href="{{site.url}}">关于我们</a>
      <div class="secc">
        {% for menu in about_menus %}
          <a href="/{{menu.dir_name}}">{{menu.name}}</a>
        {% endfor %}
      </div>
    </li>
    <li>
      <a href="/supply/">产品展示</a>
      <div class="secc">
        <a href="/index_BeiJing.html">北京产品中心</a>
      </div>
    </li>
    <li>
      <a href="/news/">新闻资讯</a>
      <div class="secc">
        <a href="http://www.cggjggc.com/news/gsdt/">公司动态</a>
        <a href="http://www.cggjggc.com/news/xwgg/">新闻公告</a>
      </div>
    </li>
    <li class="last" style="width:292px;"><a href="http://www.cggjggc.com/contact/">联系我们</a>
      <div class="secc">
        <table data-sort="sortDisabled">
          <tbody>
            <tr class="firstRow">
              <td rowspan="2" colspan="1" valign="top">
                <img src="/static/images/1449741338263645.png" title="1449741338263645.png" alt="tubiao_11.png">
              </td>
              <td style="word-break: break-all;" valign="top">
                <span style="font-size: 14px;">
                  <strong>{{ci.telephone}}</strong>
                </span>
              </td>
            </tr>
            <tr>
              <td style="word-break: break-all;" valign="top">
                <strong><span style="font-family: 宋体, SimSun; font-size: 14px;">7*24小时服务热线</span></strong>
              </td>
            </tr>
            <tr>
              <td rowspan="2" colspan="1" valign="top">
                <img src="/static/images/1449741348782158.png" title="1449741348782158.png" alt="tubiao_14.png">
              </td>
              <td style="word-break: break-all;" valign="top">在线咨询</td>
            </tr>
            <tr><td style="word-break: break-all;" valign="top">7*24小时热线</td></tr></tbody></table>
      </div>
    </li>
    <li class="last" style="padding-top:10px;">
      <p>
      <img src="{{site.qrcode}}" title="{{site.qrcode.name}}" alt="二维码.png">
      </p>
    </li>
  </ul>
  <div class="nav_foot">
    <p>
      <a href="http://{{site.url}}">网站首页</a> |
      <a href="http://{{site.url}}/about/">关于我们</a> |
      <a href="http://{{site.url}}/supply/">产品中心</a> |
      <a href="http://{{site.url}}/news/">新闻中心</a> |
      <a href="http://{{site.url}}/contact">联系我们</a></p>
  </div>
  <div class="copyright"> Copyright&nbsp;http://{{site.url}}&nbsp;{{site.name}}专业生产<a href="http://{{site.url}}" target="_blank">彩钢板</a>,<a href="http://{{site.url}}" target="_blank">彩钢房</a>,<a href="http://{{site.url}}" target="_blank">彩钢厂</a>等产品，欢迎来电订购. </div>
</div>