<ul class="tup">
  <img src="/static/images/liy.jpg">
  <li class="y1">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;铜门</span>
    <p>
     
    </p>
  </li>
  <li class="y2">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;铸铝门 </span>
    <p>
    
    </p>
  </li>
  <li class="y3">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;庭院门</span>
    <p>

    </p>
  </li>
  <li class="y4">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拼接门</span>
    <p>

    </p>
  </li>
  <li class="y5">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;玻璃门</span>
    <p>
      
    </p>
  </li>
  <li class="y6">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;围栏</span>
    <p>

    </p>
  </li>
</ul>
