<ul class="tup">
  <img src="/static/images/liy.jpg">
  <li class="y1">
    <span class="dazi">企业网站建设</span>
    <p>
      智能化温控系统，分区域、分时段自动调节室内温度，随时启动或关闭供暖，灵活方便。
    </p>
  </li>
  <li class="y2">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机网站制作</span>
    <p>
      持续向上散发远红外光热，实现低功率、大面积供暖．散发的远红外光波对人体有良好的生物效能，对失眠、神经衰弱、颈椎炎及微循环系统等等有防治和改善的显著效果。
    </p>
  </li>
  <li class="y3">
    <span class="dazi">营销型网站推广</span>
    <p>
      比目前国内外应用的地暖产品耗电能效每平方米能节约30%,能耗最低，节能效果最明显。
    </p>
  </li>
  <li class="y4">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;企业网站建设</span>
    <p>
      通电后1-3分钟，地板即开始发热，快速达到大面积供暖的目的。
    </p>
  </li>
  <li class="y5">
    <span class="dazi">手机网站制作</span>
    <p>
      每块地板都是独立的，具有标准化制作模板，安装与传统木地板一样简便快捷，运营成本远低于其他取暖方式。
    </p>
  </li>
  <li class="y6">
    <span class="dazi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;营销型网站推广</span>
    <p>
      如果存在损坏，不影响日常使用，不存在定期疏通、清洗的麻烦不用担心水质、燃气质量，无需担心冬季爆管破壁的隐患。
    </p>
  </li>
</ul>
