<!-- 公共头部包含 -->
<header>
  <div class="fm-header">
    <div class="nav-more"></div>
    <div class="in-logo">
      <a href="{{site.url}}"><img src="{{site.logo}}"><img src="{{site.slogan}}" class="in-slogan"></a>
      <div class="clear"></div>
    </div>
    <div class="in-nav">
      <ul>
        <map>
          {% if cate %}
            <li><a href="/">首页</a></li>
          {% else %}
            <li class="index"><a href="/">首页</a></li>
          {% endif %}
          {% for menu in menus %}
            {% if cate.name == menu.name %}
              <li class="index"><a href="{{menu.dir_name}}"><span>{{menu.name}}</span></a></li>
            {% else %}
              <li><a href="{{menu.dir_name}}"><span>{{menu.name}}</span></a></li>
            {% endif %}
          {% endfor %}
        </map>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="in-sub">
      <ul>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="in-other-icon">
      <ul>
        <!-- <li class="search"></li> -->
        <li class="wechart">
        <div class="code2"><img src="{{site.qrcode}}"></div>
        </li>
        <li class="fg-more"></li>

      </ul>
    </div>
    <div class="clear"></div>
  </div>
</header>

<!-- <div class="fm-search">
  <form action="http://zhannei.baidu.com/cse/search" target="_blank">
    <input type="hidden" name="s" value="17400792154998516242">
    <input type="hidden" name="entry" value="1">
    <input type="text" name="q" value="输入关键词搜索" class="in-search-text fl" onfocus="if (this.value == &#39;输入关键词搜索&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;输入关键词搜索&#39;;}">
    <input type="submit" value="搜索" class="in-search-btn fr">
    <div class="clear"></div>
  </form>
</div>
-->
<section class="mini">
  <div class="mini-in-nav">

    <div class="mini-top">
      <div class="close"></div>
    </div>

    <div class="column">
      <div class="exclusive">
        <ul>
          <map>
            <li class="index"><a href="{{site.url}}">首页</a></li>
            {% for menu in menus %}
            <li><a href="{{menu.dir_name}}"><span>{{menu.name}}</span></a></li>
            {% endfor %}
          </map>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(".nav-more,.fg-more").click(function(){
  $(".mini").slideToggle(300);
  });
$(".close").click(function(){
  $(".mini").slideToggle(300);
  });
$(".search").click(function(){
  $(".fm-search").slideToggle(100);
  });
</script>
