<div class="in-handpick">
  <div class="handpick-tit"><span>先锋新闻眼</span></div>
  <div class="handpick-list">
    <ul>
      <li class="fl ">
      <div class="one ">
        <div class="h-pic fl"><a href="{{hot_news.0.article.categories.all.0.dir_name}}{{hot_news.0.article.plural}}" title="{{hot_news.0.article.title}}"><img src="{{hot_news.0.article.pic}}" alt="{{hot_news.0.article.title}}"></a></div>
        <div class="h-text fl">
          <h3><a href="{{hot_news.0.article.categories.all.0.dir_name}}{{hot_news.0.article.plural}}" title="{{hot_news.0.article.title}}">{{hot_news.0.article.title}}</a></h3>
        </div>
        <div class="clear"></div>
      </div>
      </li>
      <li class="fr ">
      <div class="two ">
        <div class="h-pic fl"><a href="{{hot_news.1.article.categories.all.0.dir_name}}{{hot_news.1.article.plural}}" title="{{hot_news.1.article.title}}"><img src="{{hot_news.1.article.pic}}" alt="{{hot_news.1.article.title}}"></a></div>
        <div class="h-text fl">
          <h3><a href="{{hot_news.1.article.categories.all.0.dir_name}}{{hot_news.1.article.plural}}" title="{{hot_news.1.article.title}}">{{hot_news.1.article.title}}</a></h3>
        </div>

        <div class="clear"></div>
      </div>
      </li>
      <li class="fl down">
      <div class=" ">
        <div class="h-pic fl"><a href="{{hot_news.2.article.categories.all.0.dir_name}}{{hot_news.2.article.plural}}" title="{{hot_news.2.article.title}}"><img src="{{hot_news.2.article.pic}}" alt="{{hot_news.2.article.title}}"></a></div>
        <div class="h-text fl">
          <h3><a href="{{hot_news.2.article.categories.all.0.dir_name}}{{hot_news.2.article.plural}}" title="{{hot_news.2.article.title}}">{{hot_news.2.article.title}}</a></h3>
        </div>
        <div class="clear"></div>
      </div>
      </li>												<li class="fr down">
      <div class=" ">
        <div class="h-pic fl"><a href="{{hot_news.3.article.categories.all.0.dir_name}}{{hot_news.3.article.plural}}" title="{{hot_news.3.article.title}}"><img src="{{hot_news.3.article.pic}}" alt="{{hot_news.3.article.title}}"></a></div>
        <div class="h-text fl">
          <h3><a href="{{hot_news.3.article.categories.all.0.dir_name}}{{hot_news.3.article.plural}}" title="{{hot_news.3.article.title}}">{{hot_news.3.article.title}}</a></h3>
        </div>
        <div class="clear"></div>
      </div>
      </li>												<div class="clear"></div>
    </ul>
  </div>
</div>
