<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- title和keywords -->
    <title>{{ site.title }}</title>
    <meta name="Keywords" content="{{ site.keywords }}">
    <meta name="Description" content="{{ site.desc }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />

    <!-- 通用meta配置 -->
    <meta http-equiv="mobile-agent" content="format=xhtml; url={{ site.wap_site }}">
    <meta http-equiv="mobile-agent" content="format=html5; url={{ site.wap_site }}">

    <!-- 通用css -->
    <link rel="stylesheet" type="text/css" href="/static/css/index-two.css">

    <!-- 通用js -->
    <script src="/static/js/jquery.min.js"></script>
  </head>

  <body>
    <!--首页header-->
    {% include "header.html" %}

    <!--首页main-->
    {% include "main.html" %}

    {% include "footer.html" %}
  </body>
</html>
